$color-bg-beige-light: #f5f0eb; 
$color-header-text: #2c1b15; // Более глубокий коричневый для шрифтов
$color-accent: #b35232;      // Насыщенный терракотовый
$color-text-main: #333333;
$color-text-secondary: #757575;
$color-bg-section-header: #eaddcf; 
$color-bg-section: #eaddcf; 
$color-bg-white: #ffffff;
$border-radius: 4px;

$color-bg-main: #f5eee8;
$color-bg-toolbar: #ffffff; 
$color-bg-section-title: rgba(217, 191, 174, 0.6); // #D9BFAE с 60% прозрачностью
$color-bg-books: #f5eee8; // Цвет подложки книг из второго скрина
// $color-accent: #c46a45;